<div class="bot_screen" id="screenshot">
    <!-- Лейаут страницы дешборда бота -->
    <div class="bot_screen_dashboard current" id="bot_screen_dashboard">
        <span class="selected_id_dashboard" id="selected_id_dashboard">999999</span>
        <span class="period" id='period'>77.99 - 88.99</span>
        <span class="balance" id='balance'>99$</span>
        <span class="available" id='available'>99.99$</span>
        <span class="withdraw_date" id='withdraw_date'>77.88.9999</span>
        <span class="total_profit" id='total_profit'>12.97$</span>

        <!-- Таблица со списком трейдов -->
        <table class="table" id="ss_table">
            <tr>
                <td id="day_1_date"></td>
                <td id="day_1_trades"></td>
                <td>TOTAL:</td>
                <td id="day_1_percent"></td>
                <td id="day_1_profit"></td>
            </tr>
            <tr>
                <td id="day_2_date"></td>
                <td id="day_2_trades"></td>
                <td>TOTAL:</td>
                <td id="day_2_percent"></td>
                <td id="day_2_profit"></td>
            </tr>
            <tr>
                <td id="day_3_date"></td>
                <td id="day_3_trades"></td>
                <td>TOTAL:</td>
                <td id="day_3_percent"></td>
                <td id="day_3_profit"></td>
            </tr>
            <tr>
                <td id="day_4_date"></td>
                <td id="day_4_trades"></td>
                <td>TOTAL:</td>
                <td id="day_4_percent"></td>
                <td id="day_4_profit"></td>
            </tr>
            <tr>
                <td id="day_5_date"></td>
                <td id="day_5_trades"></td>
                <td>TOTAL:</td>
                <td id="day_5_percent"></td>
                <td id="day_5_profit"></td>
            </tr>
            <tr>
                <td id="day_6_date"></td>
                <td id="day_6_trades"></td>
                <td>TOTAL:</td>
                <td id="day_6_percent"></td>
                <td id="day_6_profit"></td>
            </tr>
            <tr>
                <td id="day_7_date"></td>
                <td id="day_7_trades"></td>
                <td>TOTAL:</td>
                <td id="day_7_percent"></td>
                <td id="day_7_profit"></td>
            </tr>
        </table>
    </div>

    <!-- Лейаут страницы настроек бота -->
    <div class="bot_screen_settings" id="bot_screen_settings">
        <span class="selected_id_settings" id="selected_id_settings">Selected ID: 234523</span>
        <span class="deposit_address" id="deposit_address">1njrRcKQtfjjLuQxFYCeMXcth77m5TAYo</span>
        <span class="withdrawal_address" id='withdrawal_address'>1njrRcKQtfjjLuQxFYCeMXcth77m5TAYo</span>
    </div>
</div>        
