<div class="waxp_images">
    <div class="waxp_image_withdraw current" id="waxp_image_withdraw">
        <div class="waxp_image_withdraw_form" id="screenshot_withdraw">
            <div class="top_bar">
                <span class="iphone_time" id="iphone_time">11:34</span>
                <div class="iphone_icons" id="iphone_icons"></div>
            </div>
            <span class="address_iphone" id="withdraw_adress">waxnetmobile</span>
            <span class="memo_iphone" id='withdraw_memo'>10650146730</span>
            <span class="iphone_available_1" id='withdraw_available_1'>3,431.53006065</span>
            <span class="iphone_amount" id='withdraw_amount'>3429.53006065</span>
            <span class="iphone_available_2" id='withdraw_available_2'>3,431.53006065</span>
            <span class="iphone_total_amount" id='withdraw_total_amount'>3,429.53006065 WAXP</span>
        </div>
        <div class="waxp_image_withdraw_details" id="screenshot_withdrawal_details">
            <span class="details_amount" id='withdrawal_details_amount'>3,429.53006065 WAXP</span>
            <span class="details_datetime" id='withdrawal_details_datetime'>2024-09-06 13:38:27</span>
            <span class="details_address" id="withdrawal_details_address">waxnetmobile</span>
        </div>
        <div class="waxp_image_email" id="screenshot_email">
            <span class="email_amount" id='email_amount'>3429.53006065</span>
            <span class="email_address" id="email_address">waxnetmobile</span>
            <span class="email_memo" id='email_memo'>(memo:10650146730)</span>
        </div>
    </div>
    <div class="waxp_image_progress" id="waxp_image_progress">
        <span class="progress_percentage" id='progress_percentage'>3%</span>
    </div>
</div>