<div class="iphone_screen" id="screenshot">
    <!-- Шапка экрана айфона -->
    <div class="top_bar">
        <span class="iphone_time" id="iphone_time">11:09</span>
        <div class="iphone_icons" id="iphone_icons"></div>
    </div>

    <!-- Тело позиции -->
    <div class="position">
        <div class="position_header">
            <span class="coin_name" id="coin">BTCUSDT</span>
            <span id="longshort" class="longshort">Long</span>
            <span id="leverage" class="leverage">Cross 50.00x</span>
        </div>

        <div class="position_body">
            <span id='position_size' class="position_size">6.735</span>
            <span id='entry_price' class="entry_price">1,848.91</span>
            <span id='mark_price' class="mark_price">2,485.37</span>
            <span id='liq_price' class="liq_price">31,216.10</span>
            <span id='value' class="value">51,731.0050</span>
            <span id='unr_pnl' class="unr_pnl">-17,807.6355 USDT (-1721.18%)</span>
            <span id='unr_pnl_rounded' class="unr_pnl_rounded">≈ -17807.64 USD</span>
            <span id='r_pnl' class="r_pnl">-31.0386 USDT</span>
            <span id='r_pnl_rounded' class="r_pnl_rounded">≈ -31.04 USD</span>
            <span id='margin' class="margin">1,034.6201 USDT</span>
            <span id='mm' class="mm">40.1201 USDT</span>
            <span id='tp' class="tp">
                <span>
                    <span>Entire Position:</span>
                    <span id="tp_value">64,781.5</span>
                </span>
                <span>/</span>
                <span>--</span>
                <span>Partial Position: 0</span>
            </span>
            <span class="tp_plug" id="tp_plug">Set TP/SL</span>
        </div>    
    </div>
</div>      