<div class="iphone_screen" id="screenshot">
    <!-- Верхняя шапка экрана айфона -->
    <div class="top_bar">
        <span class="iphone_time" id="iphone_time">9:31</span>
        <div class="iphone_icons" id="iphone_icons"></div>
    </div>

    <div class="web3_page">
        <span class="total_balance" id='total_balance'>$0.41</span>

        <div class="icon bnb_icon"></div>
        <span class="name bnb_name" id='bnb_name'>BNB</span>
        <span class="price_string bnb_price_string">
            <span class="price bnb_price" id='bnb_price'>$594.40</span>
            <span class="profit" id='bnb_profit'>+1.13%</span>
        </span>
        <span class="quantity bnb_quantity" id='bnb_quantity'>0.0007</span>
        <span class="amount bnb_amount" id="bnb_amount">≈ 0.41 USD</span>

        <div class="icon coin_icon" id="coin_icon">L</div>
        <span class="name coin_name" id='coin_name'>LOE</span>
        <span class="price_string coin_price_string">
            <span class="price coin_price" id='coin_price'>$0.000000000000000028</span>
            <span class="profit" id='coin_profit'>-100.00%</span>
        </span>
        <span class="quantity coin_quantity" id='coin_quantity'>80,595,300</span>
        <span class="amount coin_amount" id="coin_amount">≈ 0.00 USD</span>    
    </div>
</div>        
