<div class="iphone_screen" id="screenshot">
    <!-- Общие для обоих скринов элементы шапки айфона -->
    <span class="iphone_time" id="iphone_time">22:21</span>
    <div class="iphone_icons" id="iphone_icons"></div>
    
    <!-- Элементы скрина формы вывода -->
    <div class="layout_withdraw_form current" id="layout_withdraw_form">
        <span class="address" id="address">TDKQ7jBeDXNf8CmAjWNFNwPporHr<br>BYeWbt</span>
        <span class="withdrawal_amount" id="withdrawal_amount">5,908454</span>
        <span class="withdrawal_amount_usd" id="withdrawal_amount_usd">5,90 USD</span>
        <span class="minimum" id='minimum'>
            Withdrawal must be at least 10 USDT.
        </span>
        <span class="available" id='available'>5,90845492 USDT</span>
        <span class="receive_amount">
            <span id="receive_amount">0,00</span>
            <span>USDT</span>
        </span>
        <span class="network_fee" id="network_fee">2,00 USDT</span>
    </div>

    <!-- Элементы скрина деталей транзакции -->
    <div class="layout_transaction_details" id="layout_transaction_details">
        <span class="transaction_amount" id="transaction_amount">-14,908454 USDT</span>
        <span class="transaction_address" id="transaction_address">TEtGFgQuZNbezgT9qpTuuVDKQJRs4gbgHC</span>
        <span class="txid" id="txid">feec837ad9f70b8add2138d4513bfda660842baaad01d88af23868103fb0e1dc</span>
        <span class="transaction_full_amount" id="transaction_full_amount">15,908454 USDT</span>
        <span class="transaction_fee" id="transaction_fee">1 USDT</span>
        <span class="transaction_datetime" id="transaction_datetime">2024-09-07 19:37:26</span>
    </div>
</div>