<div class="iphone_screen" id="screenshot">
    <!-- Верхняя шапка экрана айфона -->
    <div class="top_bar">
        <span class="iphone_time" id="iphone_time">22:21</span>
        <div class="iphone_icons" id="iphone_icons"></div>
    </div>

    <div class="balance_page">
        <span class="total_usd">
            <span id='total_usd'>49.99</span>
            <span>USD</span>
            <span class="total_usd_arrow"></span>
        </span>
        <span class="total_btc"><span id='total_btc'>---</span><span>BTC</span></span>
        <span class="funding"><span id='funding'>14.83</span><span>USD</span></span>
        <span class="trading"><span id='trading'>35.15</span><span>USD</span></span>
        <span class="derivatives"><span id='derivatives'>0.00</span><span>USD</span></span>
    </div>
</div>    