<form class="form" name="form">
    <div>
        <label>Time:</label>
        <input id="input_time" type="time" name="time" value="" placeholder="12:34">
    </div>
            
    <div>
        <label>Battery:</label>
        <select name="battery">
            <option value='10'>10</option>
            <option value='50'>50</option>
            <option value='90'>90</option>
        </select>
        <label>%</label>
    </div>      
    
    <div>
        <label>BNB Price:</label>
        <input TYPE="text" NAME="bnb_price" value="" placeholder="543.21">
    </div>

    <div>
        <label>Coin Name:</label>
        <input TYPE="text" NAME="coin_name" value="" placeholder="BMW">
    </div>

    <div>
        <label>Coin Price:</label>
        <input TYPE="text" NAME="coin_price" value="" placeholder="0.000001234">
    </div>

    <div>
        <label>Profit:</label>
        <input TYPE="text" NAME="profit" value="" placeholder="123.45">
        <label>%</label>
    </div>

    <div>
        <label>Amount:</label>
        <input TYPE="text" NAME="amount" value="" placeholder="6,543.21">
        <label>$</label>
    </div>
</form>         